<ul id="js-nav-menu" class="nav-menu">
	<li {{#is pagename "in" "index,smart_grid,neo_energy,energy_saving,requirement_management,links"}}class="active open" {{/is}}>
		<a href="#" title="電能管理資訊平台" data-filter-tags="電能管理資訊平台">
			<i class="{{iconPrefix}} fa-info-circle"></i>
			<span class="nav-link-text" data-i18n="nav.電能管理資訊平台">電能管理資訊平台</span>
		</a>
		<ul>
			<li {{#is pagename "===" "index"}}class="active" {{/is}}>
				<a href="index.html" title="首頁" data-filter-tags="電能管理資訊平台 首頁">
					<span class="nav-link-text" data-i18n="nav.電能管理資訊平台_首頁">首頁</span>
				</a>
			</li>
			<li {{#is pagename "===" "smart_grid"}}class="active" {{/is}}>
				<a href="smart_grid.html" title="智能電網" data-filter-tags="電能管理資訊平台 智能電網">
					<span class="nav-link-text" data-i18n="nav.電能管理資訊平台_智能電網">智能電網</span>
				</a>
			</li>
			<li {{#is pagename "===" "neo_energy"}}class="active" {{/is}}>
				<a href="neo_energy.html" title="再生能源" data-filter-tags="電能管理資訊平台 再生能源">
					<span class="nav-link-text" data-i18n="nav.電能管理資訊平台_再生能源">再生能源</span>
				</a>
			</li>
			<li {{#is pagename "===" "energy_saving"}}class="active" {{/is}}>
				<a href="energy_saving.html" title="節電成效" data-filter-tags="電能管理資訊平台 節電成效">
					<span class="nav-link-text" data-i18n="nav.電能管理資訊平台_節電成效">節電成效</span>
				</a>
			</li>
			<li {{#is pagename "===" "requirement_management"}}class="active" {{/is}}>
				<a href="requirement_management.html" title="需量調控" data-filter-tags="電能管理資訊平台 需量調控">
					<span class="nav-link-text" data-i18n="nav.電能管理資訊平台_需量調控">需量調控</span>
				</a>
			</li>
			<li {{#is pagename "===" "links"}}class="active" {{/is}}>
				<a href="links.html" title="友善連結" data-filter-tags="電能管理資訊平台 友善連結">
					<span class="nav-link-text" data-i18n="nav.電能管理資訊平台_友善連結">友善連結</span>
				</a>
			</li>
		</ul>
	</li>
</ul>
